<!-- Dynamic flat page -->
<% flat = data.flats[owner] %>

<div class="content text-center"  style="margin-bottom: 100px">

  <%= image_tag flat.picture, height: "200px", width: "100%" %>

  <h1><%= flat.owner_name %></h1>



  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row" style="margin-top: 40px">
          <div class="col-xs-6 text-right">
            <%= image_tag flat.owner_picture, class: "avatar-large" %>
            <!-- <p><%= flat.owner_name.capitalize %></p> -->
          </div>
          <div class="col-xs-6">
            <ul class="list-unstyled text-left">
              <li><%= flat.summary %></li>
              <li><%= flat.city %></li>
              <li><%= flat.price_night %></li>
            </ul>


          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2>Book that flat</h2>
          <div class="text-center " id="booking">

            <!-- <p>Leave us your mail and get news from us</p> -->
            <form class="form-group">
              <input type="date" placeholder="checkin" class="form-control ">
              <input type="date" placeholder="checkout" class="form-control">
              <div class="dropdown">
                <input type="select" name="guests" class="form-control" id="guests_nb_booking" data-toggle="dropdown" placeholder="1 guest">
                <ul class="dropdown-menu">
                  <li><a href="#">1 guest</a></li>
                  <li><a href="#">2 guests</a></li>
                  <li><a href="#">3 guests</a></li>
                </ul>
              </div>
              <input type="Book it" value="Search" class="btn btn-danger">
            </form>
          </div>

      </div>
    </div>
  </div>




  <a href="mail:contact@airbnb.com"><h3><i class="fa fa-envelope large" aria-hidden="true"></i> contact@airbnb.com</h3></a>
</div>
